body {
  margin: 0;
  font-family: Arial;
  background: radial-gradient(circle at top, #111, #000);
  color: #fff;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.logo {
  color: #ffcc00;
  font-weight: bold;
}

.btn-topo {
  background: #ffcc00;
  color: #000;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 48px;
}

.hero span {
  color: #ffcc00;
}

.hero p {
  color: #aaa;
}

/* BOTÃO */
.btn-main {
  background: linear-gradient(45deg, #ffcc00, #ffaa00);
  color: #000;
  padding: 15px 30px;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(255,204,0,0.5);
}

/* BOX */
.box {
  width: 200px;
  margin: 40px auto;
  padding: 20px;
  border: 2px solid #ffcc00;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 30px rgba(255,204,0,0.3);
}

.box i {
  font-size: 40px;
  color: #ffcc00;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  text-align: center;
}

.stat i {
  font-size: 30px;
  color: #ffcc00;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #222;

  opacity: 0;
  transform: translateY(40px);
  transition: 0.5s;
}

.card i {
  color: #ffcc00;
  font-size: 30px;
}

.card.show {
  opacity: 1;
  transform: translateY(0);
}

/* CTA */
.cta {
  text-align: center;
  padding: 80px;
}

/* CONTATO */
.contato {
  background: #111;
  margin: 40px;
  padding: 30px;
  border-radius: 10px;
}

.contato i {
  color: #ffcc00;
}

footer {
  text-align: center;
  padding: 20px;
  color: #777;
}